html {
  position: relative;
  min-height: 100%;
}

body {
  margin-top: 83px;
}

.navbar-brand {
  img{
    width: 332px;
  }
}

.header-global {
-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
background: #fff;
border-bottom: 1px solid #c8c8c8;
box-shadow: 0 0 5px rgba(0,0,0,.15);
}

.navbar-header, .navbar-brand{
  float: none;
  text-align: center;
}

.navbar-header {
  padding: 15px 15px;
}

.login-button{
  margin-top: 60px;
  font-size: 28px;
  padding: 13px 22px;
}

.intro {
  color: #ffffff;
  display: table;
  height: 100%;
  width: 100%;
  background: url('../img/person.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  h1 {
    text-shadow: 0 2px 0 #000;
  }
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white;

  h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700;
  }
}

.description {
  h4 {
    font-size: 20px;
    font-weight: 100;
  }

  img {
    width: 140px;
    margin-top: 3em;
    margin-bottom: 1em;
  }

  .item-description {
    margin-top: 2em;
  }

  .description-item {
    margin-bottom: 4em;
  }

  i {
    border: 4px solid;
    border-radius: 50%;
    display: inline-block;
    font-size: 74px;
    width: 140px;
    height: 140px;
    line-height: 136px;
    vertical-align: middle;
    text-align: center;
  }

  .img1 {
    border-color: #83ecb8;
    color: #83ecb8;
  }

  .img2 {
    border-color: #ed4255;
    color: #ed4255;
    font-weight: 900;
  }

  .img3 {
    border-color: #fbb64a;
    color: #fbb64a;
  }
}

.call-to-act{
  margin-bottom: 2em;

  button {
    color: #ffffff;
    background-color: #83ecb8;
    border-color: #83ecb8;
    margin-top: 20px;
    margin-bottom: 2em;
    font-size: 28px;
    padding: 13px 22px;

    &:hover {
      color: #ffffff;
      background-color: #73D8A6;
      border-color: #73D8A6;
    }

    &:focus {
      color: #ffffff;
    }
  }
}

.title-groups {
  padding-top: 1em;
  padding-bottom: 2em;
}

.new-group {
  padding-top: 25px;
  padding-left: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #ed4255;
}
