{% load static %}

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap-3.0.3/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <script type="text/javascript" href="{% static 'vendor/bootstrap-3.0.3/js/bootstrap.min.js' %}"></script>
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    <link rel="icon" type="image/png" href="{% static 'img/favicon2.png' %}">
    <meta name="description" content="Sharereads it's a non-official Pocket extension."/>

    <!-- Facebook Tags -->
    <meta property="og:url" content="http://www.getSharereads.com/index/"/>
    <meta property="og:image" content="http://getSharereads.com/static/img/fb-img.png"/>
    <meta property="og:title" content="Sharereads | Unofficial Pocket Extension"/>
    <meta property="og:description" content="Sharereads it's a non-official Pocket extension."/>

    <title>Sharereads | Unofficial Pocket Extension</title>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    {% block extrastyle %}{% endblock %}
    </style>
  </head>
  <body>
  {# header #}
    <div class="navbar navbar-fixed-top header-global " role="navigation">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="{% url 'groups:list' %}"><img class="img-responsive" src="{% static 'img/pocketgroup_logo.png' %}"></a>
          </div>
        </div>
    </div>

    {# messages #}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}

    {% block content %}{% endblock %}

    <div class="footer"></div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48253449-1', 'getSharereads.com');
      ga('send', 'pageview');
    </script>
  </body>
</html>
