{% extends "base.html" %}
{% load static %}

{% block extrastyle %}
body {
  background-color: #e9e9e9;
}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row title-groups">
            <div class="title">
                <h1><i class="icon-group"></i> Groups</h1>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 new-group">
                <a href="{% url 'groups:create' %}">
                    <button type="button" class="btn btn-info">create group</button>
                </a>
            </div>
        </div>
        {% for group in pocket_groups.all %}
        <div class="panel panel-default {% if forloop.last %}last-item{% endif %}">
          <div class="panel-body">
            <div class="col-md-9 col-sm-9 col-xs-10">
              <h1>{{ group.name }}</h1>
              <h5>
                <i class="icon-tag"></i> Tag: {{ group.tag }} 
                {% if group.owner == user %}
                  <a class="edit-mobile"> <i class="icon-edit"></i> edit</a>
                {% endif %}
              </h5>
              <h5><i class="icon-user"></i> Admin: {{ group.owner }}</h5>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-2 edit-group">
              {% if group.owner == user %}
                  <a href="{% url 'groups:update' group.id %}"><i class="icon-edit"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
