{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
    <div class="list-group"></div>
        <h1>Groups</h1>
        <a href="{% url 'groups:create' %}">
            <button type="button" class="btn btn-info">create group</button>
        </a>
        <div class="row">
            <ul>
            {% for group in pocket_groups.all %}
                <li class="col-md-3 text-center">
                    <h2>{{ group.name }}</h2>
                    <label>Tag: </label><span>{{ group.tag }}</span><br>
                    {% if group.owner == user %}
                        <a href="{% url 'groups:update' group.id %}">editar</a>
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
