{% extends "base.html" %}
{% load static %}

{% block extrastyle %}
body {
  background-color: #e9e9e9;
}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row title-groups">
            <div class="title">
                <h1><i class="icon-group"></i> Groups</h1>
            </div>
            <div class="col-md-2 col-sm-2 col-xs-3 new-group">
                <a href="{% url 'groups:create' %}">
                    <button type="button" class="btn btn-info">create group</button>
                </a>
            </div>
        </div>
        {% for group in pocket_groups.all %}
        <div class="panel panel-default">
          <div class="panel-body">
            <h2>{{ group.name }}</h2>
                <label>Tag: </label><span>{{ group.tag }}</span><br>
                {% if group.owner == user %}
                    <a href="{% url 'groups:update' group.id %}">editar</a>
                {% endif %}
          </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
