
{% extends "base.html" %}

{% block extrastyle %}
body {
  background-color: #e9e9e9;
}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row title-groups">
        <div class="title">
            <h1><i class="icon-info-sign"></i> General information:</h1>
        </div>
    </div>
    {% include 'groups/form.html' %}

    <div class="row title-groups">
        <div class="title">
            <h1><i class="icon-user"></i> Members list:</h1>
        </div>
    </div>
    {% for member in form.instance.members.all %}
        {% if member != user %}
            <div class="panel panel-default {% if forloop.last %}last-item{% endif %}">
                <div class="panel-body mail-members">
                    <form method="post" action="{% url 'groups:remove-member' form.instance.id %}">
                        {% csrf_token %}
                        <input type="hidden" name="member_id" value="{{ member.id }}">
                        <div class="row">
                            <div class="col-md-9">
                                <h4><i class="icon-envelope-alt"></i> {{ member.pocket_username }}</h4> 
                            </div>
                            <div class="col-md-3 remove-member">
                                <small><input class="btn btn-danger" type='submit' value="remove"></small>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>
{% endblock %}

