html {
  position: relative;
  min-height: 100%; }

body {
  margin-top: 78px; }

.alert {
  padding-top: 22px; }

.navbar-brand img {
  width: 332px;
  display: inherit; }

.header-global {
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  background: #fff;
  border-bottom: 1px solid #c8c8c8;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15); }

.navbar-header, .navbar-brand {
  float: none;
  text-align: center; }

.navbar-header {
  padding: 15px 15px; }

.login-button {
  margin-top: 60px;
  font-size: 28px;
  padding: 13px 22px; }

.intro {
  color: #ffffff;
  display: table;
  height: 100%;
  width: 100%;
  background: url("../img/person.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  .intro h1 {
    text-shadow: 0 2px 0 #000; }

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  color: white; }
  .vert-text h1 {
    padding: 0;
    margin: 0;
    font-size: 4.5em;
    font-weight: 700; }
  @media (max-width: 450px) {
    .vert-text a {
      display: none; }
    .vert-text h1 {
      width: 100%; } }

.description h4 {
  font-size: 20px;
  font-weight: 100; }
.description img {
  width: 140px;
  margin-top: 3em;
  margin-bottom: 1em; }
.description .item-description {
  margin-top: 2em; }
.description .description-item {
  margin-bottom: 4em; }
.description i {
  border: 4px solid;
  border-radius: 50%;
  display: inline-block;
  font-size: 74px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle;
  text-align: center; }
.description .img1 {
  border-color: #83ecb8;
  color: #83ecb8; }
.description .img2 {
  border-color: #ed4255;
  color: #ed4255;
  font-weight: 900; }
.description .img3 {
  border-color: #fbb64a;
  color: #fbb64a; }

.call-to-act {
  margin-bottom: 2em; }
  .call-to-act button {
    color: #ffffff;
    background-color: #83ecb8;
    border-color: #83ecb8;
    margin-top: 20px;
    margin-bottom: 2em;
    font-size: 28px;
    padding: 13px 22px; }
    .call-to-act button:hover {
      color: #ffffff;
      background-color: #73D8A6;
      border-color: #73D8A6; }
    .call-to-act button:focus {
      color: #ffffff; }

.title-groups {
  padding-top: 1em;
  padding-bottom: 2em; }
  .title-groups .title {
    width: auto;
    float: left; }
  .title-groups h1 {
    margin-right: 24px; }

.new-group {
  padding-top: 25px;
  padding-left: 0; }

.last-item {
  margin-bottom: 4em; }

.first-item {
  display: none; }

@media (min-width: 451px) {
  .edit-mobile {
    display: none; } }
.edit-mobile {
  margin-left: 1em;
  color: #479DB6;
  cursor: pointer; }
  .edit-mobile:hover {
    text-decoration: none; }

@media (max-width: 450px) {
  .edit-group {
    display: none; } }
.panel h1, .panel h5 {
  color: #333; }

.update-group hr {
  margin-top: 5em;
  border-color: #CACACA; }

.goback-buttom {
  float: right;
  margin: 20px; }

.members-list {
  margin-bottom: 4em; }

.edit-group {
  padding-top: 32px;
  text-align: right;
  font-size: 4em; }

.form-group input {
  margin-bottom: 5px; }

.mail-members {
  padding-top: 13px;
  padding-bottom: 0px; }

.remove-member {
  text-align: right;
  padding-top: 3px; }

.buttom-form {
  text-align: right; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 25px;
  background-color: #ed4255; }
